body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:938px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:153px;
  top:57px;
  width:769px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  white-space:nowrap;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:153px;
  top:136px;
  width:785px;
  height:60px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  white-space:nowrap;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:749px;
}
#u36 {
  position:absolute;
  left:173px;
  top:277px;
  width:726px;
  height:748px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u37 {
  position:absolute;
  left:2px;
  top:354px;
  width:722px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:51px;
}
#u38 {
  position:absolute;
  left:174px;
  top:1102px;
  width:725px;
  height:51px;
}
#u39 {
  position:absolute;
  left:2px;
  top:18px;
  width:721px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:43px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:317px;
  top:1106px;
  width:132px;
  height:43px;
}
#u41 {
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(19, 129, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u42 {
  position:absolute;
  left:550px;
  top:1110px;
  width:93px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:127px;
}
#u44p000 {
  position:absolute;
  left:-61px;
  top:57px;
  width:122px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u44p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:124px;
  height:6px;
}
#u44p001 {
  position:absolute;
  left:-10px;
  top:105px;
  width:20px;
  height:20px;
}
#u44p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u44.compound {
  width:0px;
  height:0px;
}
#u44 {
  position:absolute;
  left:596px;
  top:1148px;
  width:1px;
  height:118px;
}
#u45 {
  position:absolute;
  left:2px;
  top:51px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u46 {
  position:absolute;
  left:534px;
  top:1284px;
  width:253px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
