body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:539px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u421 {
  position:absolute;
  left:83px;
  top:80px;
  width:456px;
  height:260px;
}
#u422 {
  position:absolute;
  left:2px;
  top:122px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u423 {
  position:absolute;
  left:92px;
  top:387px;
  width:140px;
  height:40px;
}
#u424 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u425 {
  position:absolute;
  left:92px;
  top:558px;
  width:389px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u426 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  word-wrap:break-word;
}
