body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1088px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:597px;
}
#u783 {
  position:absolute;
  left:55px;
  top:52px;
  width:1033px;
  height:597px;
}
#u784 {
  position:absolute;
  left:2px;
  top:290px;
  width:1029px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u785 {
  position:absolute;
  left:203px;
  top:749px;
  width:436px;
  height:182px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u786 {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  word-wrap:break-word;
}
#u787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u787 {
  position:absolute;
  left:355px;
  top:841px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u788 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u789 {
  position:absolute;
  left:272px;
  top:841px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u790 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u791 {
  position:absolute;
  left:446px;
  top:841px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u792 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u793 {
  position:absolute;
  left:227px;
  top:987px;
  width:237px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u794 {
  position:absolute;
  left:0px;
  top:25px;
  width:237px;
  word-wrap:break-word;
}
